<div class="background" ps-bg-img="bgImg"></div>

<div class="card map-card z-depth-2 ps-leave-slideLeft ps-enter-slideRight" ng-if="showCard && $state.includes('muine.clubs.club.contact', {clubId: club.id})">
  <ng-map zoom="14" center="{{club.map.pos}}">
    <marker position="{{club.map.pos}}"
            title="{{club.name}}">
    </marker>
  </ng-map>
</div>

<div class="card description-card card-right card-contact z-depth-2 ps-enter-slideLeft ps-leave-slideRight" ng-show="showCard && $state.includes('muine.clubs.club.contact', {clubId: club.id})">
  <div class="card-content white-text card-club-top">
    <span class="card-title">{{club.name}}</span>
    <div class="row ">
      <div class="col s12">
        <img class="logo" src="{{cardLogo}}" alt="" >
      </div>
    </div>
  </div>
  <div class="card-content white-text">
    <div class="row">
      69 Nguyen Dinh Chieu <br>Mui Ne, Vietnam
    </div>
    <div class="row website-link">
      <a href="http://www.ridsurf.com" target="_blank">www.ridsurf.com</a>
    </div>
  </div>
  <div class="divider"></div>
  <div class="collection">
    <a class="collection-item grey darken-2 white-text item-title">SPOT</a>
    <a class="collection-item" ng-repeat="spot in club.spots" ui-sref="muine.spots.spot.home({spotId: spot.id})">
      {{spot.name}}
    </a>
  </div>

  <ul class="collection">
    <li class="collection-item grey darken-2 white-text item-title">CLOSEST HOTELS</li>
    <li class="collection-item grey white-text" ng-repeat="hotel in club.hotels">
      {{hotel.name}}
    </li>
  </ul>

  <div class="card-action grey darken-2">
    <a ui-sref="muine.clubs.club.photo" href="">Pics</a>
    <a ui-sref="muine.clubs.club.video" href="">Vids</a>
    <a ui-sref="muine.clubs.club.video" href="">Prices</a>
  </div>

</div>
