<p>This is my view3 for AngularJS experiments.</p>

<div ng-controller="ListController">
  <ol>
    <li ng-repeat="name in names">{{name}} from haha</li>
  </ol>
  <p>
    counter: {{counter}}
  </p>
  <input type="button" ng-click="incrementCounter()" value="incCounter">

  <h3>$locationChangeSuccess</h3>
    <pre>
      $location.path(): {{ successPath }}
      newUrl: {{ successNewUrl }}
      oldUrl: {{ successOldUrl }}
    </pre>
    <ul>
      <li><a href="#/view3/1">Test 1</a></li>
      <li><a href="#/view3/2">Test 2</a></li>
      <li><a href="#/view3/3">Test 3</a></li>
      <li><a href="" ng-click="back()">Back</a></li>
      <li><a href="" ng-click="forward()">Forward</a></li>
    </ul>
  <hr/>
</div>
