/* app css stylesheet */
body {
  background-color: #e5e9eb;
  color: #222222;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 300;
  font-size: 15px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

header {
  min-width: 1200px;
  height: 60px;
  background-color: #222222;
  border-bottom: 1px solid black;
  box-shadow: 0 2px 2px -1px black;
  display: flex; }
  header .caret {
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #dedede; }
    header .caret:hover {
      color: white; }
  header .icon {
    width: 30px;
    height: 30px;
    fill: #dedede; }
    header .icon:hover {
      cursor: pointer; }
      header .icon:hover > use {
        stroke-width: 1.5px;
        stroke: white; }
  header .name {
    color: white;
    line-height: 30px;
    text-align: center;
    flex-grow: 10; }
  header a {
    color: white;
    line-height: 60px; }
  header > a.logo > svg {
    width: 87.4px;
    height: 40px;
    padding: 5px 15px;
    fill: #3493c5; }
  header > a.brand {
    font-size: 22px;
    padding-right: 20px;
    border-right: 1px solid #888888; }
    header > a.brand > span {
      color: #3493c5; }
  header > nav > ul {
    display: flex; }
    header > nav > ul > li {
      position: relative;
      min-width: 150px;
      height: 60px;
      border-right: 1px solid #888888; }
      header > nav > ul > li > div {
        display: none;
        position: absolute;
        width: 273px;
        left: 27px; }
        header > nav > ul > li > div:nth-child(2) {
          height: 30px;
          top: 0px;
          border-bottom: 1px solid #2ECC40; }
        header > nav > ul > li > div:nth-child(3) {
          height: 29px;
          top: 31px;
          justify-content: space-around; }
      header > nav > ul > li.active {
        width: 300px;
        border-right-color: #2ECC40; }
        header > nav > ul > li.active > div {
          display: flex; }
      header > nav > ul > li > a {
        line-height: 54px;
        width: 60px;
        padding: 3px 0;
        position: absolute;
        left: 45px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        transition: transform 0.2s; }
        header > nav > ul > li > a.active {
          border-bottom: 1px solid #2ECC40;
          line-height: 20px;
          position: absolute;
          transform: translate(-61px, 17px) rotate(-90deg); }
        header > nav > ul > li > a.underlined > span {
          padding: 3px 0;
          border-bottom: 1px solid #FF851B; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 0;
  padding: 0 0 0.5em; }

.menu:before {
  content: "["; }

.menu:after {
  content: "]"; }

.menu > li {
  display: inline; }

.menu > li:before {
  content: "|";
  padding-right: 0.3em; }

.menu > li:nth-child(1):before {
  content: "";
  padding: 0; }

/*# sourceMappingURL=app_sass.css.map */
