ps-navbar
  width: 100%
  position: fixed
  z-index: 1000
  top: 0

.v
  height: 600px
  background: url('../assets/img/video-background.png')
  background-size: cover

.muine-section
  margin-top: -$navbar_height
  padding-top: $navbar_height
  height: 600px

#prices
  height: 1000px
