//nth($navbar_items_themes, 2)
#clubs

  svg
    width: 30px
    height: 30px
    margin-top: -4.5px
    margin-right: 10px
    margin-left: -5px
    fill: white
    vertical-align: middle
    cursor: default
  .card-action
    font-weight: 400
    a
      color: color('green', lighten-2)
      &:hover
        color: color('green', darken-1)

  .card-content
    padding-top: 10px
    padding-bottom: 10px
    &:nth-child(2)
      .row
        margin-bottom: 0
  .card-club-top
    padding-top: 0

  .logo
    width: 157.5px
    height: 157.5px

  .representative
    padding-left: 0.75rem
    font-size: 1.25rem
    span
      font-size: 1rem
      color: rgba(white, 0.7)

  .welcome
    padding-top: 0.5rem
    font-size: 1.12rem
