<!-- <div class="background"></div>
<iframe class="video-frame" width="1067" height="600" src="https://www.youtube.com/embed/sMKoNBRZM1M" frameborder="0" allowfullscreen></iframe> -->
<ul>
  <li ng-repeat="slide in slides" ng-show="isCurrSlide($index)"
      ng-class="{'ps-transition-slideRight': slideRight, 'ps-transition-slideLeft': !slideRight}">
      <!-- <div class="background"></div> -->
      <youtube-video onload="console.log('hey!')" class="video-frame" video-id="slide"></youtube-video>
  </li>
</ul>
<a class="slider-prev-next slider-prev slider-control" href=""
   ng-click="prevSlide()"
  >&#10132;</a>
<a class="slider-prev-next slider-next slider-control" href=""
   ng-click="nextSlide()"
  >&#10132;</a>
<div class="slider-bullets slider-control">
  <a class="slider-bullet"
      ng-repeat="slide in slides" href=""
      ng-click="selectSlide($index)"
      ng-class="{active: isCurrSlide($index)}"
  ></a>
</div>

<div class="debug-info">
<button type="button" ng-click="" name="button">refresh</button>
<pre>
slideRight: {{slideRight}};
</pre>
</div>
