<div class="control-panel-row">

  <a class="caret caret-left"
     ng-href="{{prevUiSref()}}"
     ng-click="prevItem()">
    ◀
  </a>

  <ul class="menu">
    <li class-"selected" data-index=""></li>
    <li class="subselect" data-index="">
      <a href="#">
      </a>
    </li>
  </ul>

  <a class="caret caret-right"
     ng-href="{{nextUiSref()}}"
     ng-click="nextItem()">
    ▶
  </a>

  <a class="icon"
     ng-click="toggleMenu()"
     ng-class="{active: menuOpened}"
     href="javascript: void(0)">
    <svg><use xlink:href="#shape-menu"></use></svg>
  </a>
</div>

<div class="p">
  <pre>
scope
  index: {{index}}
  id: {{id}}

  </pre>
</div>
