// //navbar original colors

// $white: rgb(255, 255, 255)
// $white_1: rgba(255, 255, 255, 0.1)
// $black: rgb(0, 0, 0)
// $black_055: rgba($black, 0.055)
// $gray-13: rgb(34, 34, 34)
// $gray-53: rgb(136, 136, 136)
// $gray-67: rgb(170, 170, 170)
// $gray-87: rgb(222, 222, 222) //87%
// $baltic_sea: rgb(40, 44, 47)

// $navbar_background: $white
// $navbar_border: $gray-87
// $navbar_color: $gray-53
// $navbar_shadow: $black_055
// $navbar_item: $gray-67
// $navbar_item_hover_background: $baltic_sea
// $navbar_hover: $white
// $navbar_secondary_background: $baltic_sea
// $navbar_secondary_color: $white
// $navbar_secondary_item_hover_background_mask: $white_1

header
	min-width: 1200px
	height: $navbar_height
	background-color: $navbar_background
	border-bottom: 1px solid $black
	box-shadow: 0 2px 2px -1px $black
	display: flex
	.caret
		width: $navbar_height/2
		line-height: $navbar_height/2
		text-align: center
		color: $navbar_color
		display: inline-block
		&:hover
			color: $navbar_hover
	.name
		color: $white
		line-height: 30px
		text-align: center
		flex-grow: 10
		display: inline-block
	a
		color: white
		line-height: $navbar_height
	> a.logo > svg
		width: 87.4px
		height: 40px
		padding: 5px 15px
		fill: $navbar_brand //$navbar_logo
	> a.brand
		height: $navbar_height
		font-size: 22px
		padding-right: 20px
		> span
			color: $navbar_brand
	a.icon
		line-height: $navbar_height/2 - 1px
		display: inline-block
		> svg
			width: $navbar_height/2
			height: $navbar_height/2 - 2px
			> use
				fill: $navbar_color
		&:hover > svg > use
			stroke-width: 2px
			stroke: $navbar_hover
		&.active > svg
			filter: drop-shadow(0 0 4px rgba($green,1))
			> use
				//filter: url(#drop-shadow) this is luxury coding, as for ie10 only, and only 1% uses ie10
				stroke: $navbar_hover
				stroke-width: 2px
	> nav
		border-left: 1px solid $gray-53
	ul.mainmenu
		display: flex
		> li
			position: relative
			min-width: $navbar_item_width
			height: $navbar_height
			border-right: 1px solid $gray-53
			> div
				display: none
				position: absolute
				width: $navbar_control_width - 27px
				left: 27px
				&:nth-child(2)
					height: $navbar_height/2
					top: 0px
					border-bottom: 1px solid $green
				&:nth-child(3)
					height: $navbar_height/2 - 1px
					top: $navbar_height/2 + 1px
					justify-content: space-around
					> a
						display: inline-block
			&.active
				width: $navbar_control_width
				border-right-color: $green
				> div
					display: flex
			> a
				line-height: $navbar_height - 6px
				width: $navbar_height
				padding: 3px 0
				position: absolute
				left: $navbar_item_width/2-$navbar_height/2
				font:
					size: 14px
					weight: bold
				text-align: center
				text-transform: uppercase
				transition: transform 0.2s
				&.rotated
					border-bottom: 1px solid $green
					line-height: 20px
					transform: translate(-61px, 17px) rotate(-90deg)
				&.underlined > span
					padding: 3px 0
					border-bottom: 1px solid $orange
	ul.submenu
		z-index: 1000
		position: absolute
		left: 27px
		top: $navbar_height/2 + 1px
		width: $navbar_control_width - 27px
		background: $gray-25
		text-align: center
		> li
			> a
				line-height: 30px
	ul.newsubmenu
		flex-grow: 10
		display: inline-block
		z-index: 1000
		text-align: center
		position: relative
		> li
			position: relative
			border-right: 1px solid $green
			border-left: 1px solid $green
			border-bottom: 1px solid $black
			background: $gray-25
			vertical-align: middle
			&.active
				background: $navbar_background
			&:first-child
				z-index: 1100
				font-weight: bold
				border: none
				border-bottom: 1px solid $black
			&:last-child
				border-bottom: 1px solid $green
			> a
				line-height: $navbar_height/2
				height: 30px
			&:hover
				cursor: pointer
				background: $navbar_background

//animation
.slide.ng-enter
	transition: 0.4s linear all
	transform: translateY(-1000px)

.slide.ng-enter.ng-enter-active
	transform: translateY(0)

.subselect.ng-enter, .subselect.ng-leave
	transition: 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	position: relative
	display: block

.subselect.ng-enter.ng-enter-active, .subselect.ng-leave
	top: 0
	//transform: translateY(-1000px)

.subselect.ng-leave.ng-leave-active, .subselect.ng-enter
	top: -200px
	//transform: translateY(0)
