<header>
	<a class="logo" ui-sref="muine" ui-sref-active="active"><svg><use xlink:href="#shape-logo"></use></svg></a>
	<a class="brand" ui-sref="muine" ui-sref-active="active">muine<span>watersports</span>.com</a>
	<nav>
		<ul class="mainmenu">
			<li ng-class="{active: $state.includes('muine.sports')}" class="item">
				<a ui-sref="muine.sports" ui-sref-active="rotated">Sports</a>
				<div class="control-panel-row">

				</div>
				<div class="control-panel-row">

				</div>
			</li>
			<li ng-class="{active: $state.includes('muine.clubs')}" class="item">
				<a ui-sref="muine.clubs.home({clubId: clubId})" ng-click="log('clicked')" ng-class="{rotated: $state.includes('muine.clubs')}">Clubs</a>
				<div class="control-panel-row">
					<a class="caret" ui-sref="muine.clubs.home({clubId: prevId(clubs, clubId)})">◀</a>
					<ul class="newsubmenu slide">
						<li class="subselect" ng-repeat="club in data.clubs" ng-class="{active: $state.includes('muine.clubs', {clubId: $index})}">
							<a ui-sref="muine.clubs.home({clubId: $index})" ng-click="selectClub(club.id)">{{club.name}}{{club.id}}</a>
						</li>
					</ul>
					<a class="caret" ui-sref="muine.clubs.home({clubId: nextId(clubs, clubId)})">▶</a>
					<a class="icon" ng-click="toggleList()" href="javascript: void(0);"><svg><use xlink:href="#shape-menu"></use></svg></a>
				</div>
				<div class="control-panel-row">
					<a class="icon" ui-sref="muine.clubs.home({clubId: clubId})" ui-sref-active="active"><svg><use xlink:href="#shape-home"></use></svg></a>
					<a class="icon" ui-sref="muine.clubs.photo({clubId: clubId})" ui-sref-active="active"><svg><use xlink:href="#shape-photo"></use></svg></a>
					<a class="icon" ui-sref="muine.clubs.video({clubId: clubId})" ui-sref-active="active"><svg><use xlink:href="#shape-video"></use></svg></a>
					<a class="icon" ui-sref="muine.clubs.contact({clubId: clubId})" ui-sref-active="active"><svg><use xlink:href="#shape-contact"></use></svg></a>
				</div>
				<!-- <ul class="submenu">
					<li ng-repeat="club in data.clubs">
						<a ui-sref="muine.clubs.home({clubId: $index})">{{data.clubs[$index].name}}</a>
					</li>
				</ul> -->
			</li>
			<li ng-class="{active: $state.includes('muine.spots')}" class="item">
				<a ui-sref="muine.spots" ui-sref-active="rotated">Spots</a>
				<div class="control-panel-row">

				</div>
				<div class="control-panel-row">

				</div>
			</li>
			<li class="item">
				<a ui-sref="muine.prices" ui-sref-active="underlined"><span>Prices</span></a>
			</li>
		</ul>
	</nav>
</header>
<div>
	<h3>state props</h3>
	<blockquote>
		$state.current > {{$state.current}}<br/>
		$stateParams > {{$stateParams}}
	</blockquote>
	<h3>navbar scope</h3>
	<blockquote>
		$scope.clubId > {{clubId}}<br/>
	</blockquote>
</div>
<!-- <ul class="newsubmenu">
	<li class="subselect" ng-repeat="club in data.clubs | filter:search">
		{{club.name}}
	</li>
</ul> -->
