<header ng-class="{transparent: navbarTransparent}">
	<div class="header-left" ></div>
	<div class="navbar-container">
			<a class="brandzone"
				 ui-sref="muine.home"
				 ui-sref-active="active"
				 ps-smooth-scroll="home">
				<svg><use xlink:href="#shape-logo"></use></svg>
				muine<span>watersports</span>.com
			</a>
		<nav>
			<!-- TODO make links selectable not draggable! -->
			<ul class="mainmenu">
				<li class="item"
						ng-repeat="dataKey in dataKeysList"
						ng-controller="mainMenuItemCtrl1"
						ng-class="['item-n' + {{$index + 1}}, {active: $state.includes(rootState +'.'+ dataKey)}]">
					<a ng-href="{{uiSref() + childStates[0]}}"
						 ng-class="{rotated: $state.includes(rootState +'.'+ dataKey)}"
						 ps-smooth-scroll="{{dataKey}}"
						 offset="{{-navbarHeight}}">
						{{dataKey}}
					</a>
					<ps-muine-subcontrol></ps-muine-subcontrol>
					<div class="control-panel-row">
						<a class="icon"
							 ng-repeat="state in childStates"
						   ng-href="{{uiSref() + state}}"
							 ng-class="{active: $state.includes(rootState +'.'+ dataKey +'.'+ state)}">
							<svg>
								<use ng-attr-xlink:href="{{'#shape-'+ state}}" xlink:href="" ></use>
							</svg>
						</a>
					</div>
				</li>
				<li class="item">
					<a ui-sref="muine.prices"
						 ui-sref-active="underlined"
						 ps-smooth-scroll="prices"
						 offset="{{-navbarHeight}}">
						<span>Prices</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header-right"></div>
</header>
