<header>
	<a class="logo" ui-sref="muine" ui-sref-active="active"><svg><use xlink:href="#shape-logo"></use></svg></a>
	<a class="brand" ui-sref="muine" ui-sref-active="active">muine<span>watersports</span>.com</a>
	<nav>
		<ul>
			<li ng-class="{active: $state.includes('muine.sports')}" class="item">
				<a ui-sref="muine.sports" ui-sref-active="active">Sports</a>
				<div class="control-panel-row">

				</div>
				<div class="control-panel-row">

				</div>
			</li>
			<li ng-class="{active: $state.includes('muine.clubs')}" class="item">
				<a ui-sref="muine.clubs({clubId: clubId})" ng-click="log('clicked')" ng-class="{active: $state.includes('muine.clubs')}">Clubs</a>
				<div class="control-panel-row">
					<a class="caret" ui-sref="muine.clubs({clubId: prevId('clubs', clubId)})">◀</a>
					<span class="name">{{data.clubs[clubId].name}}</span>
					<a class="caret" ui-sref="muine.clubs({clubId: nextId('clubs', clubId)})">▶</a>
					<svg class="icon"><use xlink:href="#shape-menu"></use></svg>
				</div>
				<div class="control-panel-row">
					<svg class="icon" ui-sref="muine.clubs" ui-sref-active="active"><use xlink:href="#shape-home"></use></svg>
					<svg class="icon"><use xlink:href="#shape-photo"></use></svg>
					<svg class="icon"><use xlink:href="#shape-video"></use></svg>
					<svg class="icon"><use xlink:href="#shape-contact"></use></svg>
				</div>
					<!-- <ul>
						<li><a href="products.html#chair"> _</a></li>
						<li><a href="products.html#chair">Chair</a></li>
						<li><a href="products.html#table">Table</a></li>
						<li><a href="cooker.html">Cooker</a></li>
					</ul> -->
			</li>
			<li ng-class="{active: $state.includes('muine.spots')}" class="item">
				<a ui-sref="muine.spots" ui-sref-active="active">Spots</a>
				<div class="control-panel-row">

				</div>
				<div class="control-panel-row">

				</div>
			</li>
			<li class="item">
				<a ui-sref="muine.prices" ui-sref-active="underlined"><span>Prices</span></a>
			</li>
		</ul>
	</nav>
</header>
<div>
	{{$state.current}}
	{{$stateParams}}
	<br/>
	$scope.currentClub: {{currentClub}}
</div>
