<header>
	<a class="logo" ui-sref="muine" ui-sref-active="active"><svg><use xlink:href="#shape-logo"></use></svg></a>
	<a class="brand" ui-sref="muine" ui-sref-active="active">muine<span>watersports</span>.com</a>
	<nav>
		<!-- TODO make links selectable not draggable! -->
		<ul class="mainmenu">
			<li class="item"
					ng-repeat="dataPath in dataKeysList"
					ng-controller="mainMenuItemCtrl1"
					ng-class="['item-n' + {{$index + 1}}, {active: $state.includes(rootState +'.'+ dataPath)}]">
				<a ng-href="{{uiSref() + childStates[0]}}"
					 ng-class="{rotated: $state.includes(rootState +'.'+ dataPath)}">
					{{dataPath}}
				</a>
				<box7-dir></box7-dir>
				<div class="control-panel-row">
					<a class="icon"
						 ng-repeat="state in childStates"
					   ng-href="{{uiSref() + state}}"
						 ng-class="{active: $state.includes(rootState +'.'+ dataPath +'.'+ state)}">
						<svg>
							<use ng-attr-xlink:href="{{'#shape-'+ state}}" xlink:href="" ></use>
						</svg>
					</a>
				</div>
				<div style="margin-top: 320px; text-align: left; width: 400px">
<pre>
$scope.selected > {{selected}}
$scope.old > {{old}}
$scope.menuExpanded > {{menuExpanded}}
</pre>
				</div>
			</li>
			<li class="item">
				<a ui-sref="muine.prices" ui-sref-active="underlined"><span>Prices</span></a>
			</li>
		</ul>
	</nav>
</header>
<div>
	<h3>state props</h3>
	<blockquote>
		$state.current > {{$state.current}}<br/>
		$stateParams > {{$stateParams}}
	</blockquote>
	<h3>navbar scope</h3>
	<blockquote>
		$scope.clubId > {{clubId}}<br/>
	</blockquote>
	<input type="text" ng-model="speed" value="" style="width:100px">
</div>
